include head.pug
    main
        h1 Oops!
        h2 Looks like something went wrong.
        h3 Either something broke on our end or we couldn't find what you were looking for.
        a(href="/") Back Home
