doctype html
html
head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Blaine Cantrell")
    meta(name="description", content="Every wanted a weather app that just gives you the weather and not all that other nosense? Yeah, me neither.")
    title A Weather app
    link(rel="stylesheet", href="../style.css")
    link(rel="stylesheet", type="text/css", media="(max-width:450px)", href="css/style-small.css")
