include head.pug
body
    main
        div.container
            h1.title Weather
            h3.description Type in a city name to fetch the current weather conditions.
            fieldset
                form(action="/results" method="post")
                    input(name="city" type="text" class="main-input" placeholder="Enter a City" required)
                    input(type="submit" class="main-button" value="Get Weather")
                    
        