<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="public/sass-css-output.css">
  </head>
  <body>
    <div class="container">
        <form action="/" method="post">
          <input name="search" type="text" class="ghost-input" placeholder="Search ... " required>
          <input type="submit" class="ghostbutton" value="Get weather">
        </form>
        {{#template}}
          <h2>{{city}}</h2>
        {{/template}}
    </div>
  </body>
</html>
