@import url('https://fonts.googleapis.com/css?family=Work+Sans');

h1, h2, p{
  display: inline-block;
}

body{
  margin: 0;
  font-family: 'Work Sans', 'sans-serif';
}

fieldset{
  display: inline-block;
  border: 0px;
  padding: 1rem;
}

.container{
  text-align: center;
  margin: 0 auto;
}

.flex-container{
  flex-direction: row;
  display: flex;
}

.inner-container{
  display: flex;
  margin: 0 auto;
}

.top{
  margin: 0 0 2rem 0;
}

#main{
  display: inherit;
}

#highLow{
  margin: 0 0 0 10px;
  flex-direction: column;
  display: flex;
}

#high, #low{
  height: 1.50rem;
  flex-direction: row;
}