<<<<<<< HEAD
html
    head
        link(rel="stylesheet", href="../style.css")
    body
        main
            h1 Weather
            h3 Type in the search bar below to grab the weather.
            div.container
              fieldset
                form(action="/" method="post")
                  input(name="city" type="text" class="main-input" placeholder="Enter a City" required)
                  input(type="submit" class="main-button" value="Get Weather")
=======
include head.pug
body
    main
        h1 Weather
        h3 Type in the search bar below to grab the weather. 
            div.container
                fieldset
                    form(action="/fetching-data" method="post")
                        input(name="city" type="text" class="main-input" placeholder="Enter a City" required)
                        input(type="submit" class="main-button" value="Get Weather")
                    
        
>>>>>>> de60a932f0ec3e1d247c9e35486784f9c4a3f9d7
