html
    head
    body
        main
            h1 Weather
            h3 Type in the search bar below to grab the weather. 
            div.container
                fieldset
                    form(action="/" method="post")
                        input(name="city" type="text" class="ghost-input" placeholder="Enter a City" required)
                        input(type="submit" class="ghost-input" value="Get Weather")
                
        